/* Basic Styling */
html, body{
	height: 100%;
}
body{
	display:flex;
	flex-direction:column;
	margin:0%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
header{
	margin: 0px;
	color:#40CE74;
	font-size: 40;
	background: rgb(61, 61, 61);	padding:10px 1%;
}
footer{
	padding:10px 1%;
	background-color: lightgrey;
}
section{
	padding:1px 1%;
}
h1{
	text-align: center;
}
h2{
	text-align: left;
}

/* Flexible layout for navbar and footer*/
.navbar{
	flex-shrink: 0;
}
.navbar > a{
	margin: 5px 10px;
	float:right;
	color:#40CE74;
	text-decoration: none;
	font-size: 1em;
}
.navbar > h2:first-child{
	margin: auto 10px;
	float:left;
	color:#40CE74;
	font-size: 1.5em;
}
.content{
	width: 100%;
	margin: 5 auto;
	flex: 1 0 auto
}
.footer{
	flex-shrink: 0;
}

/* Individual class/object styling*/
.titlecard{
	padding: 10%;
	background: #D0F4DC;
}
.titlecard-small{
	padding: 5%;
	background: #D0F4DC;
}
.center{
	display: flex;
	justify-content: center;
	align-items: center;
}
.button{
	background-color:#40CE74;
	border: 2px solid #40CE74;
	border-radius: 8px;
	padding: 15px;
	color: #0E4722;
	text-decoration: none;
	font-weight: bold;
	margin: 10px;
	width: 15%;
}
.button:hover {
	background-color: #D0F4DC;
	color: #0E4722;
	transition-duration: 0.1s;
}
.widebutton{
	background-color:#40CE74;
	border: 2px solid #40CE74;
	border-radius: 8px;
	padding: 15px;
	color: #0E4722;
	text-decoration: none;
	font-weight: bold;
	margin: 10px;
	width: 15%;
}
.widebutton:hover {
	background-color: #D0F4DC;
	color: #0E4722;
	transition-duration: 0.1s;
}

.pbutton{
	background-color:#ff6f7b;
	border: 2px solid #ff6f7b;
	border-radius: 8px;
	padding: 15px;
	color: #4e0e13;
	text-decoration: none;
	font-weight: bold;
	margin: 10px;
	width: 10%;
}
.pbutton:hover {
	background-color: #ffd6da;
	color: #811b23;
	transition-duration: 0.1s;
}

.mbutton{
	background-color: #fcd34e;
	border: 2px solid #fcd34e;
	border-radius: 8px;
	padding: 15px;
	color: #4b3c0c;
	text-decoration: none;
	font-weight: bold;
	margin: 10px;
	width: 10%;
}
.mbutton:hover {
	border: 2px solid #fcd34e;
	background-color: #fff7db;
	color: #4b3c0c;
	transition-duration: 0.1s;
}

/*Text Formatting*/
.title{
	color:#0E4722;
	font-size: 40px;
}

.subtitle{
	color:#0E4722;
	font-size: 22px;
	font-style: italic;
	font-weight: normal;
}
.heading{
	font-weight: normal;
	color:#0E4722;
	font-size:30px;
}
.subheading{
	font-weight: lighter;
	color:#0E4722;
	font-size:18px;
	font-style: italic;
}